<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
</head>
<body>
    <h1>Kelandra Pringle</h1>
    <p>I’m Kelandra Pringle. I see myself as someone who is still growing, learning, and figuring out my path, but I am determined to build a life I can be proud of. Finishing my Computer Studies degree at UWI Mona was a big milestone for me, and it showed me that I am capable of pushing through challenges and achieving my goals. I enjoy working with technology, especially coding and building projects that can help people in real life, like the real estate website I created for my capstone project. Outside of academics, I value culture, community, and meaningful connections with others. I am someone who keeps trying even when things don’t go as planned, and I believe that with consistency, hard work, and faith in myself, I can create opportunities and grow into the person I want to become.</p>
</body>
</html>